# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Generated platform ephemeral
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/android/.gradle/
**/android/local.properties
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
ios/Frameworks/Libbox.xcframework

# Local release-staging (APKs, etc.)
dist/
